<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelsafechild">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/vy_logo"
        android:label="VySafeTravel"
        android:roundIcon="@drawable/vy_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>

            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

         <activity android:name=".MainActivity">

         </activity>
        <activity android:name=".MapActivity">

        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLcT20oauXG01HLsl-sML67-NZiWTTS5U"/>
    </application>

</manifest>